.best-product {
  padding-top: 27px;
  padding-bottom: 42px;
}

.best-product__inner {
  display: flex;
  flex-direction: column;
}

.best-product__top {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.best-product__title {
  @include title-mobile;
  order: -1;
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
}

.best-product__subtitle {

  @include text-bold;
  font-size: 17px;
  line-height: 20px;
  color: $color--fourth;
  text-transform: uppercase;
}

.best-product__description {
  margin-bottom: 30px;
}

.best-product__about {
  margin-bottom: 18px;
  font-size: 15px;
  line-height: 24px;
}

.best-product__picture {
  margin-bottom: 20px;
}

.best-product__img {
  width: 260px;
  height: 315px;
}

.best-product__table {
  width: 100%;
  font-size: 15px;
  line-height: 20px;
}

.best-product__price {
  @include text-bold;
  margin-bottom: 26px;
  font-size: 17px;
  line-height: 24px;
  color: $color--slave;
  text-align: center;
}

.best-product__td {
  padding: 8px 0;
  border-bottom: 1px solid $bg-color--modal-size;
}

.best-product__td--name {
  width: 94px;
}

@media (min-width: $width-tablet) {
  .best-product {
    padding-top: 47px;
    padding-bottom: 69px;
  }

  .best-product__inner {
    position: relative;
    flex-wrap: wrap;

    &::before {
      content: '';
      position: absolute;
      top: -57px;
      left: 0;
      width: 100%;
      height: 24px;
      background-image: url('../img/svg/zigzag-fill-tablet.svg');
      background-repeat: repeat;
    }
  }

  .best-product__top {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 51px;
  }

  .best-product__title {
    @include title-tablet;
    width: 501px;
    margin: 0;
  }

  .best-product__subtitle {
    padding-top: 10px;
    padding-left: 67px;
    line-height: 17px;
    text-align: center;
  }

  .best-product__description,
  .best-product__buy {
    width: 291px;
  }

  .best-product__description {
    margin-bottom: 52px;
  }

  .best-product__about {
    margin-bottom: 32px;
    font-size: 17px;
    line-height: 30px;
  }

  .best-product__td {
    padding: 9px 0;
  }

  .best-product__picture {
    position: absolute;
    top: 107px;
    left: 334px;
    order: 1;
    max-width: 334px;
    margin: 0;
  }

  .best-product__img {
    width: 333px;
    height: 404px;
  }

  .best-product__price {
    margin-bottom: 35px;
    font-size: 20px;
  }
}

@media (min-width: $width-desktop) {
  .best-product {
    padding-top: 125px;
    padding-bottom: 96px;
  }

  .best-product__inner {
    &::before {
      top: -140px;
      height: 34px;
      background-image: url('../img/svg/zigzag-fill-desktop.svg');
    }
  }

  .best-product__top {
    margin-bottom: 48px;
  }

  .best-product__title {
    z-index: 2;
    order: 0;
    width: 875px;
    font-size: 53px;
    line-height: 57px;
  }

  .best-product__subtitle {
    width: 100px;
    margin-left: 32px;
    padding: 0;
    padding-top: 15px;
  }

  .best-product__about {
    margin-bottom: 48px;
  }

  .best-product__description,
  .best-product__buy {
    width: 350px;
    margin-left: 175px;
    padding-right: 58px;
  }

  .best-product__description {
    margin-bottom: 105px;
  }

  .best-product__picture {
    top: -52px;
    left: 525px;
    max-width: 525px;
  }

  .best-product__img {
    width: 525px;
    height: 636px;
  }
}
