.best-product {
  padding-top: 30px;
  padding-bottom: 35px;
}

.best-product__inner {
  display: flex;
  flex-direction: column;
}

.best-product__top {
  display: flex;
  flex-direction: column;

  margin-bottom: 30px;
}

.best-product__title {
  order: -1;
  margin: 0;
  padding: 0;

  @include title-mobile;
}

.best-product__subtitle {
  font-size: 17px;
  line-height: 20px;

  @include text-bold;
  text-transform: uppercase;
  color: $color--fourth;
}

.best-product__description {
  margin-bottom: 30px;
}

.best-product__about {
  margin-bottom: 30px;

  font-size: 15px;
  line-height: 24px;
}

.best-product__picture {
  margin-bottom: 27px;
}

.best-product__table {
  width: 100%;
  font-size: 15px;
  line-height: 20px;
}

.best-product__price {
  margin-bottom: 27px;
  text-align: center;
  font-size: 17px;
  line-height: 24px;

  @include text-bold;
  color: $color--slave;
}

.desc__td {
  padding: 8px 0;
  border-bottom: 1px solid $bg-color--modal-size;
}

.desc__name {
  width: 98px;
}

@media (min-width: $width-tablet) {
  .best-product {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .best-product__inner {
    flex-wrap: wrap;
    position: relative;
  }

  .best-product__top {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
  }

  .best-product__title {
    width: 501px;
    font-size: 43px;
    line-height: 50px;
  }

  .best-product__subtitle {
    padding-left: 67px;
    text-align: center;
  }

  .best-product__description,
  .best-product__buy {
    width: 291px;
    padding-right: 43px;
  }

  .best-product__description {
    margin-bottom: 55px;
  }

  .best-product__about {
    margin-bottom: 50px;
  }

  .best-product__picture {
    order: 1;
    position: absolute;
    top: 95px;
    left: 334px;
    max-width: 334px;
    margin: 0;
  }
}

@media (min-width: $width-desktop) {
  .best-product {
    padding-top: 71px;
    padding-bottom: 71px;
  }

  .best-product__inner {}

  .best-product__top {
    margin-bottom: 60px;
  }

  .best-product__title {
    order: 0;
    width: 875px;
    font-size: 53px;
    line-height: 57px;
    overflow: hidden;
  }

  .best-product__subtitle {
    padding-left: 45px;
  }

  .best-product__about {
    margin-bottom: 60px;
  }

  .best-product__description,
  .best-product__buy {
    width: 350px;
    margin-left: 175px;
    padding-right: 58px;
  }

  .best-product__description {
    margin-bottom: 110px;
  }

  .best-product__picture {
    max-width: 525px;
    top: 0;
    left: 525px;
  }
}
