.btn {
  @include text-bold;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 14px 0;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.btn-primary {
  color: $color--slave;
  border: 2px solid $color--slave;
  background-color: $bg-color--main;

  &:hover,
  &:focus {
    color: $color--third;
    background-color: $color--slave;
  }

  &:active {
    color: rgba($color--third, 0.3);
  }
}

.btn-modal {
  color: $color--third;
  border: none;
  background-color: $bg-color--first;

  &:hover,
  &:focus {
    background-color: $bg-color--second;
  }

  &:active {
    color: rgba($color--third, 0.3);
  }
}
