// Contacts
.contacts {
  padding-top: 37px;
  padding-bottom: 39px;
}
.contacts--inner {
  margin-bottom: 37px;
}

.contacts__title {
  @include text-bold;
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 30px;
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts__item {
  display: flex;
  font-size: 15px;
  line-height: 30px;
}

.contacts__item--mail {
  margin-bottom: 28px;
}

.contact__name {
  width: 77px;
}

.contacts__mail {
  color: inherit;
  border-bottom: 1px solid $bg-color--first;
}

.contacts__map {
  width: 100vw;
  height: 457px;
  margin-bottom: 39px;
}

.contacts__map__image {
  display: block;
  margin: auto;
}

@media screen and (min-width: $width-tablet) {
  .contacts {
    position: relative;
    padding-top: 63px;
    padding-bottom: 57px;
  }

  .contacts--inner {
    margin-bottom: 57px;
  }

  .contacts__title {
    @include title-tablet;
    margin-bottom: 48px;
  }

  .contacts__list {
    display: flex;
    align-items: baseline;
  }

  .contacts__item {
    width: 50%;
    font-size: 17px;
  }

  .contacts__map {
    height: 457px;
    margin-bottom: 55px;
  }

  .contacts__btn__wrapper {
    display: flex;
    justify-content: center;
  }

  .contacts__btn {
    max-width: 230px;
  }
}

@media screen and (min-width: $width-desktop) {
  .contacts {
    padding-top: 140px;
    padding-bottom: 105px;
  }

  .contacts--inner {
    margin-bottom: 82px;
  }

  .contacts--inner,
  .contacts__btn__wrapper{
    padding-left: 175px;
  }

  .contacts__title {
    @include title-desktop;
  }

  .contacts__list {
    flex-direction: column;
  }

  .contacts__map {
    position: absolute;
    top: 71px;
    right: 100px;
    width: 525px;
  }

  .contacts__btn__wrapper {
    display: block;
  }

  .contacts__btn {
    margin: 0;
  }
}
