.main-promo__title {
    font-size: 27px;
    @include text-bold;
    line-height: 30px;
    text-align: center;
}

.main-promo__list {
    padding: 0;

    display: flex;
    flex-direction: column;
    list-style: none;
}

.main-promo__item {
    padding: 28px 0;
    background-color: $bg-color--first;
}

.main-promo__item:last-child {
    background-color: $bg-color--second;
}

.main-promo__link {
    padding-right: 130px;

    font-size: 19px;
    @include text-bold;
    line-height: 24px;
    color: $color--third;
}

