// Main Footer
.main-footer {
  padding: 20px 0;
  background-color: $bg-color--footer;
}

.social__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.footer-copyright__text {
  @include text-bold;
  font-size: 19px;
  line-height: 18px;
}

@media screen and (min-width: $width-tablet) {
  .main-footer__inner {
    display: flex;
    justify-content: space-between;
  }
}
