// main-promo.scss
.main-promo {
  background-color: $bg-color--promo;
}

.main-promo__title {
  @include text-bold;
  padding-top: 72px;
  padding-bottom: 120px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.main-promo__list {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.main-promo__item {
  background-color: $bg-color--first;
}

.main-promo__item--toy {
  background-color: $bg-color--second;
}

.promo-item__wrapper {
  width: $width-mobile-wrap;
  margin: 0 auto;
}

.main-promo__link {
  @include text-bold;
  display: inline-block;
  padding: 28px 0;
  padding-right: 130px;
  font-size: 19px;
  line-height: 24px;
  color: $color--third;
}

@media (min-width: $width-tablet) {
  .main-promo {
    margin-top: -67px;
  }

  .main-promo__title {
    @include title-tablet;
    padding-top: 227px;
    padding-bottom: 365px;
  }

  .main-promo__list {
    flex-direction: row;
    justify-content: center;
  }

  .promo-item__wrapper {
    width: $width-tablet-wrap / 2;
  }

  .main-promo__link {
    padding-left: 35px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $width-desktop) {
  .main-promo {
    margin-top: -86px;
  }

  .main-promo__title {
    padding-top: 239px;
  }

  .promo-item__wrapper {
    width: $width-desktop-wrap / 2;
  }

  .main-promo__link {
    padding-right: 305px;
  }
}
