.main-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-nav__top {
  display: flex;
  align-items: center;
  min-height: 78px;
  border-top: 1px solid $bg-color--modal-size;
  border-bottom: 1px solid $bg-color--modal-size;
}

.main-nav__top--inner {
  width: $width-mobile-wrap;
  margin: 0 auto;
}

.page-header__logo-image {
  width: 86px;
  height: 35px;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list__item {
  display: flex;
  border-bottom: 1px solid $bg-color--modal-size;
}

.main-nav__link {
  @include text-bold;
  display: inline-block;
  width: $width-mobile-wrap;
  margin: 0 auto;
  padding: 27px 0;
  padding-left: 46px;
  font-size: 17px;
  line-height: 24px;
}

.main-nav__text,
.site-list-second {
  display: none;
}

.search__link {
  position: relative;
}

.search__svg {
  position: absolute;
  top: 31px;
  left: 2px;
  fill: rgba(0, 0, 0, 0.2);
}

.main-cart {
  position: relative;
}

.cart__svg {
  position: absolute;
  top: 30px;
  left: 0;
  fill: rgba(0, 0, 0, 0.2);
}

.main-nav__text {
  font-size: 15px;
  line-height: 24px;
}

@media (min-width: $width-tablet) {
  .main-nav {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    width: $width-tablet-wrap;
    margin: 0 auto;
  }

  .main-nav::before {
    position: absolute;
    top: 89px;
    left: 49.59%;
    width: 99.225vw;
    height: 1px;
    margin-left: -50vw;
    content: '';
    background-color: $bg-color--modal-size;
  }

  .main-nav__top {
    width: 320px;
    height: auto;
  }

  .main-nav__top--inner {
    margin: 0;
    margin-top: 5px;
    margin-left: -2px;
  }

  .page-header__logo-image {
    width: 113px;
    height: 46px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
  }

  .main-nav__link {
    padding: 32px 0;
  }

  .site-list {
    order: 2;
  }

  .main-nav__top,
  .nav-list__item,
  .site-list__item {
    border: none;
  }

  .site-list__link {
    width: 167px;
    padding: 18px 0;
    font-size: 15px;
    line-height: 24px;
  }

  .user-list {
    width: 348px;
    background-color: transparent;
  }

  .user-list__item {
    border-left: 1px solid $bg-color--modal-size;
  }

  .search {
    width: 82px;
  }

  .search__text {
    display: none;
  }

  .main-cart {
    width: 264px;
    text-align: end;
  }

  .site-list-second {
    display: none;
  }

  .main-nav__text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    order: 3;
    width: 334px;
  }

  .search__svg {
    top: 36px;
    left: 32px;
  }

  .cart__svg {
    top: 35px;
    left: 32px;
  }
}

@media (min-width: $width-desktop) {
  .main-nav {
    width: $width-desktop-wrap;
  }

  .main-nav__top {
    width: 298px;
  }

  .main-nav__top--inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 0 -10px;
  }

  .page-header__logo-image {
    width: 149px;
    height: 72px;
  }

  .nav-list__item::before {
    display: none;
  }

  .site-list {
    position: relative;
    order: -1;
  }

  .site-list__link {
    width: 184px;
    padding: 32px 0;
    font-size: 17px;
    line-height: 24px;
  }

  .site-list__item:last-child {
    padding-left: 35px;
    border-left: 1px solid $bg-color--modal-size;
  }

  .site-list-second {
    display: flex;
  }

  .site-list-second__link {
    width: 184px;
    padding: 20px 0;
    font-size: 15px;
  }

  .site-list-second__item:last-child {
    padding-left: 35px;
  }

  .main-nav__text {
    width: 647px;
  }

}
