// Modal
.modal__title {

  @include title-mobile;
  padding-right: 55px;
  padding-left: 60px;
}

.modal__paragraph {
  font-size: 15px;
  line-height: 30px;
  text-align: center;
}

.modal__sizes {
  display: flex;
  justify-content: space-between;
}

.modal__size {
  @include text-bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 48px;
  font-size: 17px;
  line-height: 16px;
  text-align: center;
  border: 2px solid $bg-color--modal-size;

  &:hover,
  &:focus {
    border-color: $bg-color--modal-size--hover;
  }

  &--checked {
    border-color: $bg-color--modal-size--active;
  }

}