// Order
.order {
  padding-top: 22px;
  padding-bottom: 56px;
  font-size: 17px;
  line-height: 18px;
}

.order__desc {
  margin-bottom: 24px;
  font-size: 13px;
  line-height: 24px;
}

.order__field {
  margin: 0;
  padding: 0;
}

.order__field--type {
  margin-bottom: 44px;
}

.order__field--color {
  margin-bottom: 42px;
}

.order__field--name {
  margin-bottom: 8px;
}

.order__field--tel {
  margin-bottom: 33px;
}

.order__field--mail {
  margin-bottom: 32px;
}

.order__field--add {
  margin-bottom: 17px;
}

.order__legend {
  position: relative;
  margin-bottom: 34px;
  line-height: 16px;
  color: $bg-color--first;
  text-transform: uppercase;
}

.order__legend::before {
  position: absolute;
  top: 8px;
  left: 62px;
  width: 198px;
  content: '';
  border-top: 1px solid $bg-color--first;
}

.order__legend--color {
  margin-bottom: 36px;
}

.order__legend--name {
  margin-bottom: 28px;
}

.order__legend--other {
  margin-bottom: 21px;
}

.order__legend--add {
  margin-bottom: 25px;
}

.order__legend--tel,
.order__legend--mail {
  position: relative;
}

.order__legend--tel::after,
.order__legend--mail::after {
  content: '';
  position: absolute;

  background-repeat: no-repeat;
}

.order__legend--mail::after {
  top: 33px;
  right: 3px;
  width: 33px;
  height: 32px;
  background-image: url('../img/svg/sprite.svg#mail-icon');
}

.order__legend--tel::after {
  top: 34px;
  right: 8px;
  width: 25px;
  height: 27px;
  background-image: url('../img/svg/sprite.svg#icon-phone');
}

.order__wrapper {
  display: flex;
  flex-direction: column;
}

.order__wrapper__inner {
  display: flex;
  flex-direction: column;
}

.order__input--name {
  margin-bottom: 22px;
}

.order__label {
  @include text-bold;
}

.radio__label,
.checkbox__label {
  position: relative;
  padding-left: 62px;
}

.radio__label:not( :last-child ) {
  margin-bottom: 24px;
}

.checkbox__label:not( :last-child ) {
  margin-bottom: 43px;
}

.radio__label::before {
  position: absolute;
  top: -9px;
  left: 0;
  width: 39px;
  height: 39px;
  content: '';
  border: 2px solid $color--main;
  border-radius: 50%;
}

.radio__input:checked + .radio__label::after {
  position: absolute;
  top: 3px;
  left: 12px;
  width: 16px;
  height: 16px;
  content: '';
  border-radius: 50%;
  background-color: $bg-color--modal-size--active;
}

.checkbox__label::before {
  position: absolute;
  top: -11px;
  left: 0;
  width: 40px;
  height: 39px;
  content: '';
  border: 2px solid $color--main;
}

.order__name {
  margin-bottom: 15px;
}

.order__input {
  width: 100%;
  padding-bottom: 15px;
  border: none;
  border-bottom: 2px solid $color--main;
}

.order__addition {
  height: 142px;
  padding: 15px;
  font: inherit;
  border: 2px solid $color--main;
}

.form__footnote {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
}


@media screen and (min-width: $width-tablet) {
  .order {
    padding-top: 74px;
    padding-bottom: 50px;
  }

  .order__desc {
    margin-bottom: 72px;
    font-size: 17px;
    line-height: 30px;
  }

  .order__field {
    display: flex;
    align-items: baseline;
  }

  .order__field--type {
    margin-bottom: 69px;
  }

  .order__field--color,
  .order__field--tel,
  .order__field--mail {
    position: relative;
    margin: 0;
    background-color: $bg-color--footer;
  }

  .order__field--color {
    padding-top: 65px;
    padding-bottom: 11px;
  }

  .order__field--name {
    padding-top: 65px;
    padding-bottom: 3px;
  }

  .order__field--tel {
    padding-top: 63px;
    padding-bottom: 34px;
  }

  .order__field--mail {
    padding-top: 0;
    padding-bottom: 48px;
  }

  .order__field--color::before,
  .order__field--tel::before,
  .order__field--mail::before {
    content: '';
    position: absolute;
    z-index: -1;
    right: 50%;
    left: 50%;
    width: 100vw;
    height: 100%;
    margin-right: -50vw;
    margin-left: -50vw;
    background-color: $bg-color--footer;
  }

  .order__field--color::before {
    margin-top: -65px;
  }

  .order__field--tel::before {
    margin-top: -63px;
  }

  .order__field--add {
    margin-bottom: 0;
    padding-top: 51px;
    padding-bottom: 53px;
  }

  .order__legend {
    min-width: 167px;
  }

  .order__legend::before {
    display: none;
  }

  .order__wrapper__inner {
    flex-direction: row;
    justify-content: stretch;
    width: 501px;
  }

  .order__name {
    margin-right: 25px;
  }

  .order__input,
  .order__label {
    font-size: 19px;
  }

  .order__input--name {
    margin-top: -3px;
    margin-bottom: 39px;
    padding-left: 15px;
  }

  .order__tel,
  .order__email {
    padding-left: 19px;
    background-color: $bg-color--footer;
  }

  .order__wrapper--row {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .radio__label,
  .checkbox__label {
    padding-left: 81px;
  }

  .radio__label:not( :last-child ) {
    margin-bottom: 58px;
  }

  .radio__label::before {
    top: -15px;
    width: 52px;
    height: 52px;
  }

  .radio__input:checked + .radio__label::after {
    top: 1px;
    left: 16px;
    width: 20px;
    height: 20px;
  }

  .checkbox__label {
    width: 240px;
  }

  .checkbox__label:nth-child(2n + 1) {
    margin-right: 21px;
  }

  .checkbox__label::before {
    top: -15px;
    width: 54px;
    height: 52px;
  }

  .checkbox__label:not( :last-child ) {
    margin-bottom: 58px;
  }

  .order__addition {
    height: 142px;
  }

  .form__submit__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .form__submit {
    order: -1;
    width: 230px;
  }

  .form__footnote {
    margin: 0;
    font-size: 17px;
    line-height: 30px;
  }
}

@media screen and (min-width: $width-desktop) {
  .order {
    padding-top: 124px;
  }

  .order__desc {
    padding-right: 175px;
    padding-left: 175px;
  }

  .order__legend {
    min-width: 175px;
    text-align: center;
  }

  .checkbox__label {
    margin-right: 21px;
  }

  .order__wrapper__inner {
    width: 700px;
  }

  .order__field--tel,
  .order__field--mail,
  .order__field--add {
    padding-right: 175px;
  }

  .order__field--add  {
    padding-bottom: 48px;
  }

  .form__submit__wrapper {
    width: 700px;
    margin-left: 175px;
  }
}
