// Products
.products {
  padding-top: 30px;
  padding-bottom: 31px;
}

.products__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.products__item:not( :last-child ) {
  margin-bottom: 30px;
}

.product__img {
  display: block;
  width: 260px;
  height: 195px;
}

.product__info {
  padding-top: 25px;
  padding-right: 28px;
  padding-left: 28px;
  border: 1px solid $bg-color--modal-size;
}

.product__about {
  margin-bottom: 19px;
}

.product__title {
  @include text-bold;
  display: block;
  margin-bottom: 6px;
  font-size: 17px;
  line-height: 24px;
}

.product__title br {
  display: none;
}

.product__desc {
  font-size: 13px;
  line-height: 30px;
}

.product__buy {
  padding-top: 21px;
  padding-bottom: 27px;
  border-top: 1px solid $bg-color--modal-size;
}

.product__price {
  @include text-bold;
  font-size: 15px;
  line-height: 24px;
}

@media screen and (min-width: $width-tablet) {
  .products {
    padding-top: 82px;
    padding-bottom: 52px;
  }

  .products__item {
    display: flex;
  }

  .products__item:not( :last-child ) {
    margin-bottom: 54px;
  }

  .product__img {
    width: 334px;
    height: 334px;
  }

  .product__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
  }

  .product__title {
    font-size: 20px;
  }

  .product__title br {
    display: inline;
  }

  .product__desc {
    font-size: 15px;
  }

  .product__price {
    font-size: 17px;
  }
}

@media screen and (min-width: $width-desktop) {
  .products {
    padding-top: 131px;
    padding-bottom: 43px;
  }

  .products__list {
    display: flex;
    justify-content: space-between;

  }

  .products__item {
    flex-direction: column;
    width: 316px;
    height: 100%;
    margin-bottom: 14px;
  }

  .products__item:not( :last-child ) {
    margin: 0;
  }

  .product__about {
    margin: 0;
  }

  .product__info {
    flex-grow: 0;
    min-height: 197px;
    padding-top: 24px;
    padding-right: 33px;
    padding-left: 26px;
  }

  .product__title {
    padding-right: 0;
  }

  .product__img {
    width: 316px;
    height: 462px;
  }
}
