// Products
.products {
  padding-top: 30px;
  padding-bottom: 31px;
}

.products__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.products__item:not( :last-child ) {
  margin-bottom: 30px;
}

.product__img {
  display: block;
  width: 260px;
  height: 195px;
}

.product__info {
  padding-top: 25px;
  padding-right: 28px;
  padding-left: 28px;
  border: 1px solid $bg-color--modal-size;
}

.product__title {
  @include text-bold;
  display: block;
  margin-bottom: 6px;
  font-size: 17px;
  line-height: 24px;
}

.product__desc {
  margin-bottom: 19px;
  font-size: 13px;
  line-height: 30px;
}

.product__buy {
  padding-top: 21px;
  padding-bottom: 27px;
  border-top: 1px solid $bg-color--modal-size;
}

.product__price {
  @include text-bold;
  font-size: 15px;
  line-height: 24px;
}

@media screen and (min-width: $width-tablet) {
  .products {
    padding-top: 82px;
    padding-bottom: 52px;
  }

  .products__item {
    display: flex;
  }

  .products__item:not( :last-child ) {
    margin-bottom: 54px;
  }

  .product__img {
    width: 334px;
    height: 334px;
  }

  .product__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
  }

  .product__title {
    padding-right: 35px;
    font-size: 20px;
  }

  .product__desc {
    font-size: 15px;
  }

  .product__price {
    font-size: 17px;
  }
}

@media screen and (min-width: $width-desktop) {

}
