// Reviews
.reviews {
  padding-bottom: 50px;
}

.reviews__title {
  @include title-mobile;
  margin-bottom: 24px;
}

.review__text {
  margin-bottom: 26px;
  font-size: 15px;
  line-height: 30px;
}

.review__author {
  margin-bottom: 30px;
}

.review__author__name {
  @include text-bold;
  margin-bottom: 3px;
  font-size: 17px;
  line-height: 24px;
}

.review__author__instagram {
  font-size: 17px;
  line-height: 30px;
}

.feedback__buttons {
  display: flex;
  margin-bottom: 39px;
}

.feedback__button {
  width: 50%;
  min-height: 50px;
  border: 1px solid $bg-color--modal-size;
  background: none;
  cursor: pointer;
}

.feedback__button:hover .huge-arrow,
.feedback__button:focus .huge-arrow {
  opacity: 0.6;
}

.feedback__button:active .huge-arrow, {
  opacity: 0.3;
}

.feedback__next {
  border-left: none;
}

.huge-arrow {
  fill: $color--main;
}



@media screen and (min-width: $width-tablet) {
  .reviews {
    padding-top: 79px;
    padding-bottom: 130px;
  }

  .reviews--inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .reviews__title {
    @include title-tablet;
    order: -2;
    margin: 0;
    margin-top: -2px;
  }

  .review__text {
    margin-bottom: 57px;
    font-size: 17px;
  }

  .review__author {
    margin: 0;
  }

  .review__author__name {
    font-size: 18px;
  }

  .review__author__instagram {
    margin: 0;
  }

  .feedback__buttons {
    width: 171px;
    margin: 0;
  }

  .reviews__write-btn {
    order: -1;
    width: 175px;
    margin-bottom: 45px;
  }

  .feedback__button {
    border: none;
  }
}

@media screen and (min-width: $width-desktop) {
  .reviews {
    padding-top: 80px;
    padding-bottom: 186px;
  }

  .reviews--inner {
    padding-left: 175px;
  }

  .reviews__title {
    @include title-desktop;
    margin-top: -9px;
  }

  .review__text {
    margin-bottom: 38px;
    padding-right: 100px;
  }
}
