// Reviews
.reviews {
  padding-bottom: 48px;
}

.reviews__title {
  @include title-mobile;
  margin-bottom: 30px;
}

.review__text {
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 30px;
}

.review__author__name {
  @include text-bold;
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 24px;
}

.review__author__instagram {
  margin-bottom: 38px;
  font-size: 17px;
  line-height: 30px;
}

.feedback__buttons {
  margin-bottom: 30px;
}

@media screen and (min-width: $width-tablet) {
  .reviews {
    padding-top: 80px;
    padding-bottom: 125px;
  }

  .reviews--inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .reviews__title {
    @include title-tablet;
    order: -2;
    margin: 0;
  }

  .review__text {
    margin-bottom: 60px;
    font-size: 17px;
  }

  .review__author__name {
    font-size: 18px;
  }

  .review__author__instagram {
    margin: 0;
  }

  .feedback__buttons {
    width: 171px;
  }

  .reviews__write-btn {
    order: -1;
    width: 171px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: $width-desktop) {
  .reviews {
    padding-top: 70px;
    padding-bottom: 170px;
  }

  .reviews--inner {
    padding-left: 175px;
  }
}
