// Reviews
.reviews__title {
  @include title-mobile;
}

.review__text {
  font-size: 15px;
  line-height: 30px;
}

.review__author {
  @include text-bold;
  font-size: 17px;
  line-height: 24px;
}

.review__author__instagram {
  font-size: 17px;
  line-height: 30px;
}