// Video
.video {
  padding-bottom: 58px;
}
.video__wrapper {
  padding-bottom: 32px;
  border: 1px solid $bg-color--modal-size;
}

.video__title {
  @include text-bold;
  padding-top: 22px;
  padding-bottom: 26px;
  padding-left: 89px;
  font-size: 17px;
  line-height: 24px;
}

.video__img {
  width: 260px;
  height: 150px;
  margin-bottom: 24px;
}

.video__desc {
  margin-bottom: 24px;
  padding-right: 33px;
  padding-left: 33px;
  font-size: 13px;
  line-height: 24px;
}

.video__btn {
  width: 192px;
  margin-left: 33px;
}

@media screen and (min-width: $width-tablet) {
  .video {
    padding-bottom: 63px;
  }

  .video__wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 45px;
  }

  .video__title {
    margin-bottom: 7px;
    padding-left: 105px;
    font-size: 20px;
  }

  .video__img {
    order: -1;
    width: 668px;
    height: 455px;
    margin-bottom: 16px;
  }

  .video__desc {
    margin-bottom: 35px;
    padding-right: 39px;
    padding-left: 39px;
    font-size: 15px;
    line-height: 30px;
  }

  .video__btn {
    width: 584px;
    margin-left: 41px;
  }
}

@media screen and (min-width: $width-desktop) {

}
