// Mixins

@mixin text-normal {
  font: {
    family: $font-stack;
    weight: 400;
  }

  color: $color--slave;
}

@mixin text-bold {
  font: {
    family: $font-stack;
    weight: 700;
  }

  color: $color--main;
}

@mixin title-mobile{
  font-size: $font-size-title--mobile;
  line-height: $line-height-title--mobile;
  @include text-bold;
}