// Variables

$width-tablet: 768px;
$width-desktop: 1150px;

$width-mobile-wrap: 260px;
$width-tablet-wrap: 668px;
$width-desktop-wrap: 1050px;


$bg-color--main: #ffffff;
$bg-color--head: #f9f9f9;
$bg-color--footer: #f1f1f1;
$bg-color--first: #63d1bb;
$bg-color--first--hover: #59d5bc;
$bg-color--second: #56c3b2;
$bg-color--second--hover: #46c1ae;
$bg-color--modal-size: #ececec;
$bg-color--modal-size--hover: #c7c7c7;
$bg-color--modal-size--active: #62d1ba;


$color--main: #000000;
$color--slave: #444444;
$color--third: #ffffff;
$color--fourth: #63d1bb;

$font-stack: "Open Sans",
arial,
sans-serif;



$font-size-title--mobile: 25px;
$line-height-title--mobile: 30px;
