// Variables

$bg-color--main: #ffffff;
$bg-color--head: #f9f9f9;
$bg-color--footer: #f1f1f1;
$bg-color--first: #63d1bb;
$bg-color--first--hover: #59d5bc;
$bg-color--second: #56c3b2;
$bg-color--second--hover: #46c1ae;


$color--main: #000000;
$color--slave: #444444;
$color--third: #ffffff;

$font-stack: "Open Sans",
arial,
sans-serif;
